In [13]:
import pandas as pd

In [14]:
data = pd.read_csv('Pokemon.csv')
df = pd.DataFrame(data)
df.head(10)

   Unnamed: 0  ...  传奇小精灵
0           0  ...  False
1           1  ...  False
2           2  ...  False
3           3  ...  False
4           4  ...  False
5           5  ...  False
6           6  ...  False
7           7  ...  False
8           8  ...  False
9           9  ...  False

[10 rows x 14 columns]

In [31]:
pd.set_option("display.max_columns", 10)
df.head(10)

,Unnamed: 0,#,名称,第一类型,第二类型,...,特殊攻击强度,特殊防御强度,速度,世代数,传奇小精灵
0,0,1,Bulbasaur,Grass,Poison,...,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,...,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,...,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,...,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,...,60,50,65,1,False
5,5,5,Charmeleon,Fire,NaN,...,80,65,80,1,False
6,6,6,Charizard,Fire,Flying,...,109,85,100,1,False
7,7,6,CharizardMega Charizard X,Fire,Dragon,...,130,85,100,1,False
8,8,6,CharizardMega Charizard Y,Fire,Flying,...,159,115,100,1,False
9,9,7,Squirtle,Water,NaN,...,50,64,43,1,False

In [32]:
df.drop(['#'], axis=1)

,Unnamed: 0,名称,第一类型,第二类型,综合能力,...,特殊攻击强度,特殊防御强度,速度,世代数,传奇小精灵
0,0,Bulbasaur,Grass,Poison,318,...,65,65,45,1,False
1,1,Ivysaur,Grass,Poison,405,...,80,80,60,1,False
2,2,Venusaur,Grass,Poison,525,...,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,...,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,...,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,795,Diancie,Rock,Fairy,600,...,100,150,50,6,True
796,796,DiancieMega Diancie,Rock,Fairy,700,...,160,110,110,6,True
797,797,HoopaHoopa Confined,Psychic,Ghost,600,...,150,130,70,6,True
798,798,HoopaHoopa Unbound,Psychic,Dark,680,...,170,130,80,6,True
799,799,Volcanion,Fire,Water,600,...,130,90,70,6,True

In [37]:
engFormatted =pd.read_csv('Pokemon.csv',
    header=0,
    names=['Unnamed',
           'Number',
           'PokemonName',
           'Type1Pokemon',
           'Type2Pokemon',
           'LifePoints',
           'AttackStrength',
           'DefenseStrength',
           'SpecialAttackStrength1',
           'SpecialAttackStrength2',
           'SpeedOfPokemon',
           'NumberOfPokemonGeneration',
           'ComprehensiveAbility',
           'Lengendary'
           ]
)

print(engFormatted)

     Unnamed  Number            PokemonName Type1Pokemon Type2Pokemon  ...  \
0          0       1              Bulbasaur        Grass       Poison  ...
1          1       2                Ivysaur        Grass       Poison  ...
2          2       3               Venusaur        Grass       Poison  ...
3          3       3  VenusaurMega Venusaur        Grass       Poison  ...
4          4       4             Charmander         Fire          NaN  ...
..       ...     ...                    ...          ...          ...  ...
795      795     719                Diancie         Rock        Fairy  ...
796      796     719    DiancieMega Diancie         Rock        Fairy  ...
797      797     720    HoopaHoopa Confined      Psychic        Ghost  ...
798      798     720     HoopaHoopa Unbound      Psychic         Dark  ...
799      799     721              Volcanion         Fire        Water  ...

     SpecialAttackStrength2  SpeedOfPokemon  NumberOfPokemonGeneration  \
0                        65              65                         45
1                        80              80                         60
2                       100             100                         80
3                       122             120                         80
4                        60              50                         65
..                      ...             ...                        ...
795                     100             150                         50
796                     160             110                        110
797                     150             130                         70
798                     170             130                         80
799                     130              90                         70

     ComprehensiveAbility  Lengendary
0                       1       False
1                       1       False
2                       1       False
3                       1       False
4                       1       False
..                    ...         ...
795                     6        True
796                     6        True
797                     6        True
798                     6        True
799                     6        True

[800 rows x 14 columns]

In [16]:
first = df.loc[:, :]
print(first)

     Unnamed: 0  ...  传奇小精灵
0             0  ...  False
1             1  ...  False
2             2  ...  False
3             3  ...  False
4             4  ...  False
..          ...  ...    ...
795         795  ...   True
796         796  ...   True
797         797  ...   True
798         798  ...   True
799         799  ...   True

[800 rows x 14 columns]

In [23]:
firstWay = df.loc[:, ["第一类型"]]
print(first)

        第一类型
0      Grass
1      Grass
2      Grass
3      Grass
4       Fire
..       ...
795     Rock
796     Rock
797  Psychic
798  Psychic
799     Fire

[800 rows x 1 columns]

In [24]:
secondWay = df['第一类型']
print(secondWay)

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: 第一类型, Length: 800, dtype: object